div.background{
    position: relative;
    /* height: 300px; */
    width: 300px;
    margin: auto;
}
div > div {
    position: absolute;
}
img{
    position: absolute;
}
#top-left{
    left: 0;
}
#top-right{
    right: 0;
}
#bottom-left{
    bottom: 0;
}
#bottom-right{
    bottom: 0;
    right: 0;
}